<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Objects</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <div>
          <ul>
            {{#each results as |result|}}
              <li><a href="/download/{{result.Key}}">{{result.Key}}</a></li> 
            {{/each}}
          </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
